In [2]:
# DataFrameの作成

import numpy as np, pandas as pd
df = pd.DataFrame(np.arange(2,14,2).reshape(2,3),
    columns=['A','B','C'])
# nparange(start,stop,step)

In [3]:
df

   A   B   C
0  2   4   6
1  8  10  12

In [4]:
pd.DataFrame({'A':[2,8],'B':[4,10],'C':[6,12]})

   A   B   C
0  2   4   6
1  8  10  12