In [3]:
import numpy as np, pandas as pd

In [4]:
pd.Series([1,2,3],dtype=float)

0    1.0
1    2.0
2    3.0
dtype: float64

In [5]:
df['Var']=None

NameError: name 'df' is not defined

In [6]:
# ブロードキャスト
# シェイプが異なる多次元配列同士の演算を可能にする仕組み

In [7]:
df = pd.DataFrame(np.arange(2,8).reshape(2,3))

In [8]:
df

   0  1  2
0  2  3  4
1  5  6  7

In [9]:
df//2

   0  1  2
0  1  1  2
1  2  3  3

In [10]:
df + [2,1,0]

   0  1  2
0  4  4  4
1  7  7  7

In [11]:
(df.T +[3,0]).T

   0  1  2
0  5  6  7
1  5  6  7