In [2]:
%matplotlib inline
import numpy as np
from pulp import *
import pandas as pd
import pprint
import csv
MEPS=1.03-6

In [3]:
df=pd.read_csv('shop.csv',header=0,usecols=[0])
df

   店舗
0   1
1   2
2   3
3   4
4   5
5   6

In [4]:
DMUs=df.values
print(DMUs)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [5]:
dfx=pd.read_csv('shop.csv',header=0,index_col=0,usecols=[0,1,2])
dfx

    店員数  稼働時間
店舗
1     5    24
2    10    12
3    20    12
4    20    24
5    30    12
6    50    12

In [6]:
x=dfx

In [7]:
print(dfx)

    店員数  稼働時間
店舗
1     5    24
2    10    12
3    20    12
4    20    24
5    30    12
6    50    12

In [8]:
x.shape

(6, 2)

In [14]:
dfy=pd.read_csv('shop.csv',header=0,usecols=[3])
dfy

   売り上げ
0     2
1     6
2    10
3    12
4    12
5    20

In [15]:
y=dfy

In [16]:
y.shape

(6, 1)

In [23]:
n,m=x.shape
n,s=y.shape

In [24]:
res=[]

In [26]:
for o in range(n):
    prob=LpProblem('DMU_'+str(o),LpMaximize)
    #　重み
    v=[LpVariable('v'+str(i),lowBound=0,
                  cat='Continuous') for i in range(m)]
    u=[LpVariable('u'+str(i),lowBound=0,
                  cat='Continuous') for i in range(s)]
    #　目的関数
    prob += lpDot(u,y.iloc[o,:])

    # 制約条件
    prob += lpDot(v,x.iloc[o,:])==1,'Normalize'+str(o)

    for j in range(n):
        prob += lpDot(u,y.iloc[j,:]) <= lpDot(v,x.iloc[j,:])

    prob.solve()
    vs=np.array([v[i].varValue for i in range(m)]) #v*
    us=np.array([u[i].varValue for i in range(s)]) #u*
    print('DMU_'+str(o),': ',DMUs[o])
    print('vs_'+str(o),': ',vs)
    print('us_'+str(o),': ',us)
    print(' ')
#     # 参照集合作成
#     (eo,)=np.where(np.abs(np.dot(vs,x)-np.dot(us,y))<= MEPS)

#     res.append([DMUs[o],value(prob.objective),
#                 set(eo),tuple(vs),tuple(us)])

    res.append([DMUs[o],value(prob.objective)])

SyntaxError: cannot assign to operator (<ipython-input-26-fecc249b187e>, line 18)

In [20]:
print(res)

[[array([1]), 0.66666666], [array([2]), 1.0000000199999999], [array([3]), 1.0], [array([4]), 0.9999999959999999], [array([5]), 0.8999999999999999], [array([6]), 1.0]]

In [22]:
df_f=pd.DataFrame(res,columns=['店舗番号','効率値'])
df_s=df_f.sort_values('効率値',ascending=False)
df_s

  店舗番号       効率値
1  [2]  1.000000
2  [3]  1.000000
5  [6]  1.000000
3  [4]  1.000000
4  [5]  0.900000
0  [1]  0.666667

In [71]:
# def DEA_CCR(x,y,DMUs):
#     n,m=x.shape
#     n,s=y.shape
    
#     res=[]
    
#     for o in range(n):
#         prob=LpProblem('DMU_'+str(o),LpMaximize)
#         #　重み
#         v=[LpVariable('v'+str(i),lowBound=0,
#                       cat='Continuous') for i in range(m)]
#         u=[LpVariable('u'+str(i),lowBound=0,
#                       cat='Continuous') for i in range(s)]
#         #　目的関数
#         prob += lpDot(u,y.iloc[:,o])

#         # 制約条件
#         prob += lpDot(v,x.iloc[:,o])==1,'Normalize'+str(o)

#         for j in range(n):
#             prob += lpDot(u,y.iloc[:,j]) <= lpDot(v,x.iloc[:,j])

#         prob.solve()
#         vs=np.array([v[i].varValue for i in range(m)]) #v*
#         us=np.array([v[i].varValue for i in range(m)]) #u*
#         # 参照集合作成
#         (eo,)=np.where(np.abs(np.dot(vs,x)-np.dot(us,y))<= MEPS)
#         res.append([DMUs[o],value(prob.objective),
#                     set(eo),tuple(vs),tuple(us)])
#     return res